.addBorder {
    border: 2px solid black;
}

.card {
    background-color: aqua;
}

.histBtn:hover {
    background-color: burlywood;
}

.uviLow {
    background-color: lightgreen;
}
.uviMedium {
    background-color: yellow;
}
.uviHigh {
    background-color: orange;
}
.uviVeryHigh {
    background-color: red;
}
.uviExtreme {
    background-color: violet;
}
.uviDisplay {
    text-decoration-style: wavy;
}
